{% extends 'core/base.html' %}


{% block content %}
    <div class="container">
        
        <div class="row">
            <h5 class="display-6 text-center">Edit Note</h5>
        </div>

        <div class="row border py-2 w-75 mx-auto">
            <div class="row mx-auto w-50">
                <form action="." method="post" >
                    {% csrf_token %}
                <input value="{{note.name}}"  type="text" name="name" placeholder="Enter note" class="form-control my-2">
                <textarea name="body"  class="form-control my-2">
                    {{note.body}}
                </textarea>
                <!-- <input type="text" name="email" placeholder="Enter email" class="form-control my-2"> -->
                <!-- <input type="password" name="password" placeholder="Enter password" class="form-control my-2"> -->
                <input type="submit" value="edit note" class="btn btn-sm btn-success mt-3">
                </form>
            </div>
        </div>
    </div>
{% endblock %}